/syncthing
/vaporcito
/back/vaporcito
/back/vaporcito.exe
/stdiscosrv
/back/stdiscosrv
*.tar.gz
*.zip
*.asc
*.deb
*.exe
.jshintrc
coverage.out
files/pidx
bin
perfstats*.csv
coverage.xml
syncthing.sig
RELEASE
deb
*.bz2
/repos
/back/repos
/proto/scripts/protoc-gen-gosyncthing
/back/proto/scripts/protoc-gen-gosyncthing
/gui/next-gen-gui
/front/gui/next-gen-gui
